# .gitignore

# Folders
/mbed-os-working-place-automation/HCSR04/
/mbed-os-working-place-automation/mbed-os/
/mbed-os-working-place-automation/ntp-client/
/mbed-os-working-place-automation/SSH1106/

# files
/mbed-os-working-place-automation/.mbed
/mbed-os-working-place-automation/HCSR04.lib
/mbed-os-working-place-automation/.link_script.sct